@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Autour+One&display=swap');


*{
    background-repeat: no-repeat;
    margin: 0%;
    font-family:'AtourOne',cursive;

}
body {
    width: 100%;
    height: 100vh;
    margin: 0;
    background-color: #1b1b32;
    background-image: url(Background.jpg);
    color: #f5f6f7;
    font-size: 16px;
}

.wrapper{
    margin: 1em auto;
    text-align: center;

}

form {
    width: 60vw; 
    max-width: 500px;
    min-width: 300px;
    margin: 0 auto;
    padding-bottom: 2em;
} 

